
    header > div{   max-width:900px; }
    hgroup{   float:left;}
    figure {float: left;}

  header{  width:100%;   background-color: gray;  position: fixed;  height:150px;  color:red; }

  h3{ border-bottom:2px solid silver; padding-bottom:12px;  margin-bottom:12px; }
  
  .content{ padding:180px 30px 30px 30px;  max-width:900px;}
  
  section{  width:50%; float:left; box-sizing: border-box;}

  .skills-primary::before{  content:"Main"}
  .experience h4{   color:red;  margin-bottom:4px; }

  .skills-secondary .skill{  opacity: .8 }
  .experience-details{    color:silver;  margin-left:12px;  }
 .experience-institution{   font-weight: normal;}
 
  .experience-date-separator{   color:red; }
  figure {visibility: hidden;}
  #contact{     position:static; }
  #contact h3{    display:block;   }

 #contact {height: 120px;}
  
  .contact-value a{ color:red;  }
  
    hgroup{    width:100%;  }
  
    .skill{  background:silver;   margin:4px;  padding:4px; }
  
    .skill span{background:red;   color:white; display:block;   padding:4px; }
     
      .skill[data-skill="1"] span{width:11%;}
      .skill[data-skill="3"] span{width:31%;}
      .skill[data-skill="5"] span{width:52%;}
      .skill[data-skill="7"] span{width:72%;}
      .skill[data-skill="9"] span{width:89%;}
.skills-primary::before {   margin-top:12px;   display: inline-block; }
.skills-secondary::before{   margin-top:12px;   display: inline-block; }